*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', serif !important;
    box-sizing: border-box;
}

body{
    background-color: #111 !important;
}

.container{
    .row{
        .col-md-3{
            margin: auto;
            margin-top: 150px;
            padding: 0px 20px !important;
            .music-block{
                background-color: #fff;
                border-radius: 10px;
                text-align: center;
                padding: 30px 0px 40px 0px;
                box-shadow: #fff 0px 2px 8px 0px;
                h3{
                    color: #111;
                    padding: 0px 25px;
                }
                p{
                    color: #999;
                    font-family: 'Poppins',sans-serif !important;
                    font-weight: 400;
                    font-size: 17px;
                    margin-top: 10px;
                }
                img{
                    width: 180px;
                    height: 180px;
                    border-radius: 50%;
                    margin-top: 20px;
                    animation-name: anime;
                    animation-iteration-count: infinite;
                    animation-direction: 5s;
                }
                .music-icon-box{
                    width: 65%;
                    margin-top: 30px;
                    svg{
                        &:first-child{
                            font-size: 18px;
                            margin-top: 40px;
                        }
                    }
                    .prev{
                        background-color: transparent;
                        border: none;
                    }
                    .next{
                        background-color: transparent;
                        border: none;
                        padding: 10px 0px;
                        .fa-forward{
                            font-size: 18px;
                            margin-top: 40px;
                        }
                    }
                    .play-button{
                        background-color: transparent;
                        border: none;
                        &.show{
                            display: block;
                        }
                        &.hide{
                            display: none;
                        }
                        .fa-play-circle{
                            font-size: 60px;
                            color: #111;
                            &:hover{
                                cursor: pointer;
                            }
                        }
                    }
                    .stop-button{
                        background-color: transparent;
                        border: none;
                        display: none;
                        &.show{
                            display: block;
                        }
                        &.hide{
                            display: none;
                        }
                        .fa-pause-circle{
                            font-size: 60px;
                            color: #111;
                            &:hover{
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

.anime{
    animation:rotatePlayer 3s linear infinite;
}

@keyframes rotatePlayer{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}